.checkOutDiv {
    margin-top: 26px;
    display: flex;
    justify-content: space-between;

    .checkOutFirstDiv {
        display: flex;
        flex-direction: column;
        padding: 26px 46px;
        align-items: center;
        gap: 16px;
        border-radius: 10px;
        border: 0.5px solid var(--Line, #D9D9D9);


        .checkOutAddressDiv {
            display: flex;
            padding: 10px;
            flex-direction: column;
            align-items: flex-start;
            gap: 10px;
            align-self: stretch;
            border-radius: 10px;
            border: 0.5px solid var(--Line, #D9D9D9);
        }

        .checkOutAddressActive {
            @extend .checkOutAddressDiv;
            border: 1px solid var(--Primary, #0078BF);
        }

        .checkOutAddressInnerDiv {
            display: flex;
            align-items: flex-start;
            gap: 16px;
            align-self: stretch;
        }

        .checkOutAddress {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 7px;
            flex: 1 0 0;
        }

        .locationImg {
            width: 18px;
            height: 18px;
            aspect-ratio: 1/1;
        }


        .checkOutAddressText {
            color: var(--Text-Primary, #282828);
            font-family: Manrope;
            font-size: 15px;
            font-style: normal;
            font-weight: 400;
            line-height: 26px;
        }

        .checkOutSubHeadings {
            font-family: "Barlow Condensed";
            font-size: 18px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            color: black;
        }

        .checkOutSubHeadingsActive {
            @extend .checkOutSubHeadings;
            color: var(--Primary, #0078BF);
        }
    }

    .checkoutAddressBtn {
        display: flex;
        padding: 10px 20px;
        justify-content: center;
        align-items: center;
        gap: 6px;
        flex: 1 0 0;
        align-self: stretch;
        border: 1.5px dashed var(--Primary, #0078BF);
        background: var(--Dark-bg, #FFF);
        color: var(--Primary, #0078BF);
        font-family: "Barlow Condensed";
        font-size: 22px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        margin-top: 26px;
        margin-bottom: 26px;
        width: 100%;
    }
}

.checkOutHeadings {
    color: var(--Text-Primary, #282828);
    font-family: "Barlow Condensed";
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.checkOutDesc {
    color: var(--Secondary-lighter, #939393);
    font-family: "Barlow Condensed";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.checkOutAddressbtn {
    display: flex;
    padding: 6px 20px;
    justify-content: center;
    align-items: center;
    gap: 6px;
    flex: 1 0 0;
    border-radius: 10px;
    border: 0.5px solid var(--Text-Primary, #282828);
    background: var(--Dark-bg, #FFF);
    color: var(--Text-Primary, #282828);
    font-family: "Barlow Condensed";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
}

.chectOutSecDiv {
    padding: 26px;
    border-radius: 10px;
    border: 0.5px solid var(--Line, #D9D9D9);
    background: var(--Dark-bg, #FFF);
    margin-left: 10px;
}

.orderSummaryText {
    color: var(--Text-Primary, #282828);
    text-align: center;
    font-family: "Barlow Condensed";
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: 1.3px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.applyCoupensDiv {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 16px;
}

.applyCoupensDivHeading {
    color: var(--Primary, #0078BF);
    font-family: "Barlow Condensed";
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 16px;
}

.applyCoupensBtnDiv {
    display: flex;
    align-items: center;
    gap: 16px;
    align-self: stretch;
    justify-content: space-between;
}

.applyCoupensBtnDivInput {
    width: 100%;
    height: 46px;

}

.applyCoupensBtn {
    color: var(--Dark-bg, #FFF);
    font-family: "Barlow Condensed";
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: flex;
    width: 88px;
    height: 46px;
    padding: 10px 20px;
    justify-content: space-between;
    align-items: center;
    background: var(--Primary, #0078BF);
    border: none
}

.checkoutHorizontalGap {}

.ordersummaryPriceSection {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.orderSummarySectionHeading {
    color: var(--Text-Primary, #282828);
    font-family: "Barlow Condensed";
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
}

.orderSummaryPriceText {
    color: var(--Secondary-lighter, #939393);
    font-family: "Barlow Condensed";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.orderSummaryDiscountText {
    @extend .orderSummaryPriceText;
    color: var(--Red-Highlight, #E31837);

}

.ruppesImg {
    width: 9px;
    height: 13px;
}

.buynowbtn {
    display: flex;
    height: 46px;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    background-color: #000;
    border: none;
    gap: 26px;
    align-self: stretch;
    color: var(--Dark-bg, #FFF);
    font-family: "Barlow Condensed";
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 100%;
    margin-top: 26px;
}

.thankYouText {
    color: var(--Text-Primary, #282828);
    text-align: center;

    font-family: "Barlow Condensed";
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 55px;
}

.orderPlacedText {
    color: var(--Text-Primary, #282828);
    text-align: center;
    font-family: "Barlow Condensed";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin-top: 10px;
}

.viewOrderbtn {
    display: flex;
    width: 223px;
    height: 46px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 26px;
    color: var(--Dark-bg, #FFF);
    font-family: "Barlow Condensed";
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    background: var(--Primary, #0078BF);
    border: none;
    margin-top: 26px;
}

@media screen and (max-width: 990px) {
    .checkOutDiv {
        .checkOutFirstDiv {
            padding: 0px;
            border: none;

            .checkOutAddressActive {
                background: var(--Tabs, rgba(74, 188, 255, 0.10));

            }
        }
        .checkoutAddressBtn{
            padding: 6px 10px;

        }
    }

    .chectOutSecDiv {
        margin-left: 0;
        border: none;
        padding: 0px;
    }
}