.filtersMainDiv {
    display: flex;
    width: 265px;
    flex-direction: column;
    align-items: flex-start;
    gap: 26px;
}

.custom-accordion .accordion-item {
    display: flex;
    flex-direction: column;
    border-radius: 0%;
    border: 0;
    margin-bottom: 20px;
}

.custom-accordion .accordion-header button {
    padding: 0;
    box-shadow: none;
    padding: 20px;
    width: 100%;
    color: var(--Text-Primary, #282828);
    font-family: "Barlow Condensed";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border: 0.5px solid #D9D9D9;
    background: var(--Background-2, #F4F5F9);
}

.custom-accordion-item:last-of-type>.accordion-header .accordion-button.collapsed {
    border: 0px solid var(--Line, #D9D9D9);
}

.custom-accordion-item:first-of-type>.accordion-header .accordion-button {
    border: 0px solid var(--Line, #D9D9D9);

}


.custom-accordion .accordion-header,
.accordion-body {
    background: #fff;
    color: black;

}

.custom-accordion .accordion-body {
    padding-left: 20px;
    border: 0.5px solid #D9D9D9;

}

.custom-accordion .accordion-item:last-of-type>.accordion-header>.accordion-button.collapsed {
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

.custom-accordion .accordion-item:first-of-type>.accordion-header .accordion-button {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
}


.filterSectionPrice {
    color: var(--Primary, #0078BF);
    font-family: "Barlow Condensed";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.filterPriceDiv {
    display: flex;
    gap: 10px;
    justify-content: end;
    margin-bottom: 17px;
}

.filterFromText {
    color: var(--Field, #939393);
    font-family: "Barlow Condensed";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.filterPriceText {
    color: var(--Text-Primary, #282828);
    font-family: "Barlow Condensed";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.chkDiv {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
@media screen and (max-width: 990px) {
    .filtersMainDiv{
        width: 100%;
    }
    .custom-accordion .accordion-item {
        margin-bottom: 16px;
    }
}